* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
header{
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 104px;
  display: grid;
  font-size: 15px;
  background-color: #2e69c2;
}

.barra-menu{
  text-align: center;
  color: white;
  align-items: center;
  color: #38bdf8; 
}
.nav-link {
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.sevicio a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 6px;
}
.selecionado{
  color: #b6b6b6;
}
.servicio-grid {
  margin: 10px auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.servicio{
  margin: 15px;
  gap: 20px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
} 
.servicio-fondo{
  height: 200px;
  width: 200px;
  background-color: white;
  border: 1px solid #AEAEAE;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen_servicio{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.servicio a{
  color: #000;
  text-decoration: none;
}
.product-grid{
  margin: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
} 
.product-fondo{
  height: 140px;
  width: 140px;
  background-color: white;
  border: 1px solid #AEAEAE;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: #000;
}
.contenedor-chat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 12px;
  scroll-margin: initial;
}
.button-new-chat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 12px;
}
.cuadro-chat{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border: 1px solid #AEAEAE;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
}
.nuevo-chat{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 1px solid #AEAEAE;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 16px;
}
.market-grid{
  margin: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; 
} 
.market{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #AEAEAE;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}
.img{
  width: 140px;
  height: 140px;
  align-items: center;
  margin: 16px;
}

.texto-cart{
  width: 310px;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 4px;
}
.flex-cart{
  align-self: flex-start;
}
.boton-contenedor{
  width: 310px;
  display: flex;
  gap: 12px;
  margin: auto;
}

.boton-quitar{
  background: #ff4d4d;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.boton-ver{
  background: #2e86ff;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.comprar{
  background: green;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.flex{
  gap: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64vh;
}
.perfil-grid{
  justify-content: center;
  align-items: center;
}
.contenedor{
  gap: 10px;
}
.contenedor-perfil a{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 60px;
  text-align: center;
  color: #000;
  background-color: white;
  border: 1px solid #AEAEAE;
  border-radius: 8px;
}

.perfil{
  width: 360px;
  height: 360px;
}

.chat-conv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 800px;
  height: 400px;  
  align-items: center;
  margin: 0 auto;
  overflow-y: auto;
  padding: 10px;
}

.cuadro-chat0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
  max-width: 780px;
  background-color: rgb(199, 199, 199);
  border: 1px solid #AEAEAE;
  border-radius: 10px;
  margin-top: 10px;
  padding: 8px 12px;
}

.cuadro-chat1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  max-width: 780px;
  background-color: white;
  border: 1px solid #AEAEAE;
  border-radius: 10px;
  margin-top: 10px;
  padding: 8px 12px;
}

.barra-chat {
  background-color: white;
  border: 1px solid #AEAEAE;
  width: 800px;
  padding: 10px 14px;
  margin: 10px auto 0;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
}
.contenedor-perfil {
  display: flex;
  flex-direction: column;
}
.contenedor-perfil a{
  text-decoration: none;
}